body {
    font-size: 26px;
}

div {
    margin-top: 30px;
}

label {
    text-decoration: underline;
    margin: 32px;
}

label[for="red"] {
    color: red;
    margin-left: 10px;
}

label[for="green"] {
    color: green;
}

label[for="blue"] {
    color: blue;
    margin-right: 50px;
}

input[id="blue"]:checked ~ label[for="blue"],
input[id="green"]:checked ~ label[for="green"],
input[id="red"]:checked ~ label[for="red"] {
    opacity: 0.5;
}

span {
    color: white;
    margin: 2px;
    padding: 5px 11px 7px 11px;
    border-radius: 15px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

input,
input[id="blue"]:checked ~ .blue,
input[id="green"]:checked ~ .green,
input[id="red"]:checked ~ .red {
    display: none;
}

